*{
  margin: 0px;
  padding: 0px;
}

:root{
  --shadow: rgba(0, 0, 0, 0.466);
  --black: black;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.the{
  rotate: 270deg;
  text-align: left;
  /* border: 1px solid gray; */
  font-size: 2vw;
}

.the::first-letter{
  font-size: 3vw;
}

.siren{
  font-size: 3vw;
  /* border: 1px solid gray; */
}

.siren::first-letter{
  font-size: 4vw;
}

.navbar{
  border: 1px solid var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
  font-size: 2vw;
}

.navbar a{
  transition: all 0.2s linear;
 text-decoration: none;
 /* border: 1px solid red; */
}

.navbar a:hover{
  /* letter-spacing: 0.1vw; */
  text-shadow: 4px 5px 2px var(--shadow);
}